@font-face {
    font-family: 04b25;
    src: url('fonts/04B_25__.TTF');
}

.label {
    -fx-font-family: '04b25';
    -fx-font-size: 30;
    -fx-wrap-text: true;

    -fx-background-color: #f2f1da;
    -fx-padding: 15px;
    -fx-border-width: 10px;
    -fx-border-color: #d3c490;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.button {
    -fx-font-size: 30;
    -fx-background-color: #f2f1da;
    -fx-padding: 15px;
    -fx-border-width: 10px;
    -fx-border-color: #d3c490;
}
.button:hover {
    -fx-text-fill: #f2f1da;
    -fx-background-color: #d5d4b0;
    -fx-border-color: #afa278;
}

#playButton {
    -fx-text-fill: #375018;
}
#playButton:hover {
    -fx-background-color: #749b43;
    -fx-border-color: #2d4212;
}

#quitButton {
    -fx-text-fill: #b74c4d;
}
#quitButton:hover {
    -fx-background-color: #732f30;
    -fx-border-color: #993e3f;
}