.label {
    -fx-font-size: 20;
}

#title {
    -fx-font-size: 25;
}

.list-view {
    -fx-background-color: #f2f1da;
    -fx-border-width: 10px;
    -fx-border-color: #d3c490;
    -fx-background-insets: 0;
}

.list-cell {
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-background-color: #f2f1da;
    -fx-border-color: #d3c490;
    -fx-border-width: 0 0 1 0; /* bottom border */
    -fx-borde-style: solid;
    -fx-background-insets: 0;
}
.list-cell:hover {
    -fx-background-color: #d5d4b0;
}
.list-cell:pressed {
    -fx-text-fill: #f2f1da;
    -fx-background-color: #d3c490;
}

#startServerButton {
    -fx-text-fill: #375018;
    -fx-font-size: 20;
    -fx-padding: 10px;
    -fx-border-width: 10px;
    -fx-text-alignment: center;
    -fx-background-color: #f2f1da;
    -fx-border-color: #d3c490;
}
#startServerButton:hover {
    -fx-background-color: #749b43;
    -fx-border-color: #2d4212;
}

#closeServerButton {
    -fx-text-fill: #b74c4d;
    -fx-font-size: 20;
    -fx-padding: 10px;
    -fx-border-width: 10px;
    -fx-text-alignment: center;
    -fx-background-color: #f2f1da;
    -fx-border-color: #d3c490;
}
#closeServerButton:hover {
    -fx-background-color: #732f30;
    -fx-border-color: #993e3f;
}