@font-face {
    font-family: '04B_25__';
    src: url('styles/fonts/04B_25__.TTF');
}

.root {
    -fx-font-family: '04b25';
    -fx-background-color: #34722e;
}

.button {
    -fx-background-insets: 0 ;
}
.button:hover {
    -fx-opacity: 95%;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-scale-z: 1.01;
}
