@font-face {
    font-family: 04b25;
    src: url('fonts/04B_25__.TTF');
}

.label {
    -fx-font-family: '04b25';
    -fx-font-size: 25;
    -fx-wrap-text: true;

    -fx-background-color: #f2f1da;
    -fx-padding: 15px;
    -fx-border-width: 5px;
    -fx-border-color: #d3c490;
    -fx-text-alignment: center;
    -fx-pref-width: 280px;
    -fx-pref-height: 195px;
}